<mat-toolbar>
  <span style="padding-left: 1em;">Equitation - Moniteur</span>
  <span class="spacer"></span>
  <h1>Moniteur name</h1>
  <button mat-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>settings</mat-icon> Paramètres
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/changeMoniteurInfo">
      <mat-icon>edit</mat-icon>
      <span>Modifier fiche perso</span>
    </button>
    <button mat-menu-item>
      <mat-icon>arrow_back</mat-icon>
      <span>Déconnection</span>
    </button>
  </mat-menu>
</mat-toolbar>
