<app-usertoolbar></app-usertoolbar>
<div class="connection_background">
  <mat-grid-list cols="2" >
    <mat-grid-tile colspan="1" >
      <div class="cours_col center_items">
        <h1 class="mat-display-3">Cours <button mat-fab color="primary"><mat-icon>add</mat-icon></button></h1>
       <app-cours style="width: 100%; padding-left:5em;"></app-cours>
      </div>

    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <h1 class="mat-display-4">Calendrier</h1>
    </mat-grid-tile>
  </mat-grid-list>
</div>
