<app-usertoolbar></app-usertoolbar>
<div class="connection_background" style="height:100%">
  <div fxLayout="row" style="padding-top: 1em;">
    <div fxLayout="column" style="width: 50%;" >
      <div fxLayout="row" fxLayoutAlign="center">
        <h1 class="mat-display-3" style="padding-right: 0.5em;">Cours </h1>
        <app-search-cours [current_cours]="dataSource"></app-search-cours>
      </div>

       <app-cours style="width: 100%; padding-left:5em;" [dataSource]="dataSource"></app-cours>
    </div>
    <div fxLayout="column" style="width: 50%;">

      <div fxLayout="row" fxLayoutAlign="center">
        <h1 class="mat-display-3">Calendrier</h1>
      </div>
      <div fxLayout="row" fxLayoutAlign="center">
        <app-usercalendar style="width: 80%;" [dataSource]="dataSource"></app-usercalendar>
      </div>

    </div>
  </div>
</div>
