<div fxLayout="row" fxLayoutAlign="space-between center" >
  <div></div>
  <h1 mat-dialog-title >Détail de : {{this.data.cours.title}}</h1>
  <button mat-button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
</div>
<div mat-dialog-content>


  <div fxLayout="column" >

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="row" >
        <h2>Moniteur : </h2> <h2> {{this.data.cours.content.moniteur}}</h2>
      </div>
      <div fxLayout="row">
        <h2>Date : </h2> <h2> {{this.data.cours.content.date_debut | date:'dd-MM-yyy  (HH:mm'}} {{this.data.cours.content.date_fin | date:'à HH:mm)'}}</h2>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="row" >
        <h2>Niveau : </h2> <h2> {{this.data.cours.content.niveau}}</h2>
      </div>
      <div fxLayout="row">
        <h2>Taille du groupe : </h2> <h2> {{this.data.cours.content.taille_groupe}}</h2>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxLayout="row" >
        <h2>Etat du cours : </h2> <h2> A faire avec un ngSwtich</h2>
      </div>
      <div fxLayout="row">
        <h2>Cheval attribué: </h2> <h2> A faire avec un ngSwtich</h2>
      </div>
    </div>

  </div>

</div>
