mat-grid-tile {
  border : solid;
}

.connection_background{
  background: lightblue;
}

.recuperation_tool{
  width: 600px;
}
.center_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.mat-form-field {
  width: 60%;
}
