<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- id Column -->
  <ng-container matColumnDef="id_cours">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id_cours}} </td>
  </ng-container>

  <!-- horaire Column -->
  <ng-container matColumnDef="horaire">
    <th mat-header-cell *matHeaderCellDef> Horaire </th>
    <td mat-cell *matCellDef="let element"> {{element.date_debut | date:'dd-MM-yyy  (HH:mm'}} {{element.date_fin | date:'à HH:mm)'}} </td>
  </ng-container>

  <!-- Taille groupe Column -->
  <ng-container matColumnDef="taille_groupe">
    <th mat-header-cell *matHeaderCellDef> Taille du groupe </th>
    <td mat-cell *matCellDef="let element"> {{element.taille_groupe}} </td>
  </ng-container>

  <!-- Niveau Column -->
  <ng-container matColumnDef="niveau">
    <th mat-header-cell *matHeaderCellDef> Niveau </th>
    <td mat-cell *matCellDef="let element"> {{element.niveau}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
