<div  fxLayout="row" fxLayoutAlign="space-around center" >
  <h1 style="padding-top: 0.75em;">Inscrire un nouvel Admin.</h1>
</div>
<form [formGroup]="inscriptionForm" (ngSubmit)="onSubmit()">
  <div fxLayout="row" fxLayoutAlign="space-around center" >
    <div fxLayout="column" fxLayoutAlign="space-around stretch" style="width:45%;" >
      <mat-form-field class="info" color="accent" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput required formControlName="nom">
      </mat-form-field>

      <mat-form-field class="info" color="accent" appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput required formControlName="tel">
      </mat-form-field>
      <mat-form-field class="mail" color="accent" appearance="fill" style="width=100%" >
        <mat-label>Adresse Mail</mat-label>
        <input matInput placeholder="adresse@example.com" formControlName="emailform" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

    </div>

    <div fxLayout="column" fxLayoutAlign="space-around stretch" style="width:45%;">
      <mat-form-field class="info" color="accent" appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput required formControlName="prenom" >
      </mat-form-field>

      <mat-form-field class="info" color="accent" appearance="fill">
        <mat-label>licence</mat-label>
        <input matInput formControlName="licence">
      </mat-form-field>

      <mat-form-field class="mdp" color="accent" appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput formControlName="mdp" [type]="hide ? 'password' : 'text'" required>
      </mat-form-field>

    </div>
  </div>

  <div  fxLayout="row" fxLayoutAlign="space-around center">
    <button type="submit" [disabled]="!inscriptionForm.valid" mat-raised-button color="accent" style="width : 60%; height : 4em; ">Inscrire</button>
  </div>

</form>
